*{
    box-sizing: border-box;
}

.UserC__wrapper {
    position: relative;
    display: block;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 3px;
    width: 300px;
    height: 400px;
}

.UserC__img {
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 3px;
}

.UserC__info p {
    position: relative;
    bottom: 50px;
    left:20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.userCname {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}