* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url("./poster.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
    
.pagination ul {
    display: flex;
    flex-wrap: wrap;   
    background: rgb(255, 237, 136);
    padding: 3px;
    border-radius: 5px;
    margin: 10px auto;
}

.pagination ul li {
    color: black;
    list-style: none;
    text-align:center;
    cursor:pointer;
    width: 70px;
    padding: 5px 5px;
    margin: 0px 3px;
    border-radius: 5px;
}

.pagination ul li:hover {
    background: rgb(226, 223, 190);
}

.pagination ul li:active {
    background: rgb(226, 219, 155);
}

.active {
    background-color: rgb(212, 203, 117);
}

.disabled {
    display: none;
}

.card-body{
    background-color: #1D0841;
}
.card-title{
    color:greenyellow;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.backButton a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color:greenyellow;
}

.backButton{
    margin-top: 10px;
}

.likedBtn{
    background-color: yellowgreen;
    border: solid rgb(50, 78, 9) 1px;
}

h2 {
    color: greenyellow;
    font-size: 20px;
}

.imgOpacity {
    background-color: #1D0841;
    opacity: 65%;
    padding: 30px;
    width: 700px;
}
