* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 0px;
}

.wrapper{
    border: solid 1px black;
    margin: 0 10px;
    padding: 10px;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
}

.field_width{
    width: 100%;
    padding: 10px;
}

.button{
    background-color: #4caf4f;
    color: white;
    border: none;
    font-weight: bold;

}
button:active{
    border: 3px solid #c9e1f9;
}

select{
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;
}
select:focus{
    border: 3px solid #c9e1f9;
}

ul{
    list-style-type: disc;
}

li:nth-child(odd){
    background-color: #f8f8f8; 
}